@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #141e30, #243b55);
    --background: 232 97.05% 98.26%;
    --foreground: 232 4.1% 0.52%;

    --muted: 232 4.1% 91.3%;
    --muted-foreground: 232 2.05% 41.3%;

    --popover: 232 57.2% 91.3%;
    --popover-foreground: 232 4.1% 0.65%;

    --card: 232 57.2% 91.3%;
    --card-foreground: 232 4.1% 0.65%;

    --border: 232 9.1% 89.52%;
    --input: 232 9.1% 89.52%;

    --primary: 232 41% 13%;
    --primary-foreground: 232 0.82% 91.3%;

    --secondary: 232 2.05% 95.65%;
    --secondary-foreground: 232 3.46% 11.3%;

    --accent: 232 2.05% 95.65%;
    --accent-foreground: 232 3.46% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 232 41% 13%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
